p {
  font-family: "Roboto", Arial;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  padding-top: 80px;
  padding-bottom: 1000px;
  padding-left: 80px;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
}

.thumbnail {
  width: 100%;
}

.thumbnail-row {
  position: relative;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 14px;
}

.video-author,
.video-stats {
  display: block;
  font-size: 12px;
  color: rgb(128, 128, 128);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}

.video-info {
  display: inline-block;
}

.profile-picture {
  width: 40px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 12px;
}

.video-time {
  font-family: Roboto, Arial;
  font-size: 12px;
  border-radius: 2px;
  font-weight: 500;
  padding: 4px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}